body {
    background-color: rgb(112, 117, 93);
    margin: 5px;
    border-color: black;
    padding-top: 10px;
    text-align: center;
    
}
h1{
    color: black;
    font-size: 40px;
    font-style: oblique;
    font-family: OCRAstd, monospace;
    text-align: center;
    padding-top: 5px;
    border: 2px;

}
