body {
    background-color: antiquewhite;
    margin: 5px;
    border-color: black;
    padding-top: 10px;
    
}
h1{
    color: black;
    font-size: 40px;
    font-style: oblique;
    font-family: OCRAstd, monospace;
    text-align: center;
    padding-top: 5px;
    border: 2px;

}
.container {
    background-color: black;
    margin: 10px;
    width: 600px;
    height: 300px;
    padding: 5px;
    margin-left: 350px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}

.button{
   
    text-align: center;
    font-size: xx-large;
    width: 30%;
    border-radius:5px 50% ;
    padding: 5px;
    margin: 7px;
    
}
.button2 {
    background-color:yellow;
    color: black;
    text-align: center;
    font-size: xx-large;
    border-radius:5px 50% ;
    padding: 5px;
    margin: 7px;
}
.button3 {
    background-color:Red;
    color: white;
    text-align: center;
    font-size: xx-large;
    border-radius:5px 50% ;
    padding: 5px;
    margin: 7px;
}
.button4 {
    background-color:Orange;
    color: black;
    text-align: center;
    font-size: xx-large;
    border-radius:5px 50%;
    padding: 5px;
    margin: 7px;
}
.button5 {
    background-color:Blue;
    color: white;
    text-align: center;
    font-size: xx-large;
    border-radius:5px 50%;
    padding: 5px;
    margin: 7px;
}
.button6 {
    background-color:Violet;
    color: black;
    text-align: center;
    font-size: xx-large;
    border-radius: 50% 5px;
    padding: 5px;
    margin: 7px;
}
.button7 {
    background-color:Indigo;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: xx-large;
    border-radius: 50% 5px;
    padding: 5px;
    margin: 7px;
}
.button8 {
    background-color:silver;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: xx-large;
    border-radius: 50% 5px;
    padding: 5px;
    margin: 7px;
}
.button9 {
    background-color:brown;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: xx-large;
    border-radius: 50% 5px;
    padding: 5px;
    margin: 7px;
    
}
.button1 {
    background-color:gold;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: xx-large;
    border-radius: 50% 5px;
    padding: 5px;
    margin: 7px;
}